*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        135deg,
        #5b6ee1,
        #7e57c2
    );
}

.register-container{

    width:100%;
    max-width:650px;

    background:
    rgba(255,255,255,.15);

    backdrop-filter:blur(20px);

    padding:40px;

    border-radius:25px;

    color:white;
}

.register-container h1{
    text-align:center;
    margin-bottom:30px;
}

input,
select{

    width:100%;

    padding:15px;

    margin-bottom:15px;

    border:none;

    border-radius:12px;
}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#06b6d4;

    color:white;

    cursor:pointer;
}